.barra{
    background-color: #20c997;
    
}
.fondo{
    background-color: deepskyblue;
}
.titulos{
    text-align: justify;
}
.nombre{
    text-align: center;
    margin-top: 5%;
}
.imagenes{
    padding-top: 10%;
}
